body{
    background-image: url(imagens/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.celular{
    height: 85vh;
    background-image: url(imagens/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}


   